@model JumpStart.Web.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="auth-title">Social Login</h1>
    </div>
    <div class="col-md-6">
        <form asp-action="Login"  asp-route-returnurl="@Context.Request.Query["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <h1 class="auth-title"> Login To Your Account </h1>
                <p>
                    Don't have a JumpStart Account?
                    @Html.ActionLink("Click Here", "SignUp", null, new { @class = "lnk-toggler" })  to get started.
                </p>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" placeholder="User Name or Email"  />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a asp-action="ForgotPassword" asp-controller="Accounts" class="btn btn-danger">Forgot Password</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
